{% extends 'base.html' %}

{% block title %}All Categories{% endblock %}

{% block content %}

    <div class="post gradient pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 mb-3">
                    <div class="about bg-dark text-center">
                        <div class="about-header">
                            <h1 class="display-6 text-warning pt-3">All Categories</h1>
                        </div><hr>
                        <div class="article-list px-1">
                            <ul class="list-group mb-4 ">
                                {% for category in all_categories %}
                                    <li><a href="{% url 'all-posts' category.id %}" style="font-weight: bold">{{ category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


