{% extends 'base.html' %}

{% block title %}Publish{% endblock %}

{% block content %}
    <div class="post gradient pt-5">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <!-- postDetails -->
                    <div class="postDetails bg-white">
                        <h1 class="display-6 text-center pt-3">Add New Post</h1><hr>

                        <form class="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="">Title</label>
                                {{ form.title }}
                            </div>
                             <div class="form-group">
                                <label for="">Category</label>
                                {{ form.category }}
                            </div>
                            <div class="form-group">
                                <label for="">Content</label>
                                {{ form.content }}
                            </div>
                            <div class="form-group">
                                <label for="">Publish</label>
                                {{ form.published }}
                            </div>
                            <div class="form-group">
                                <label>Upload Image</label>
                                <div class="input-group">
                                    {{ form.image }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark my-4">Publish</button>
                        </form>
                        <hr>
                    </div>
                    <!-- postDetails -->
                </div>
                <div class="col-xs-12 col-md-4">
                    <!-- about you -->
                    <div class="about bg-dark">
                        <div class="about-header">
                            <h1 class="display-6 text-center text-warning pt-3">Articles</h1>
                        </div><hr>
                        <div class="article-list">
                            <ul class="list-group mb-4 p-0">
                                {% for post in posts %}
                                    <li><a href="{% url 'details' post.id %}">{{post.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- about you -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
