@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .wrapper {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
}

.loginBox {
    width: 95%;
    margin: 2rem auto;
    padding: 0 2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.7);
}
  
#siyam-button,
#signup-button,
#ahsan-button {
    cursor: pointer;
    width: 100%;
    color: rgb(55, 61, 71);
    background-color: white;
    border: none;
    padding: 0.8rem;
    outline: none;
    font-family: 'Quicksand';
    font-size: 1.5rem;
    font-weight: bold;
}

label, input {
    font-family: 'Quicksand';
    border-radius: 0;
    padding: 0.2rem 0;
}

input {
    font-size: 0.8rem;
}

  
#siyam-form,
#signup-form, 
#ahsan-form {
  display: none;
}

input::placeholder {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: 'Quicksand';
}
  
#siyam-button {
    margin: 0 auto;
}

form {
    border-radius: 5px;
}

button {
    width: 100%;
}

@media (max-width: 375px) {
    .loginBox {
        width: 320px;;
        margin-top: 20%;
    }
    #siyam-button, #signup-button {
        font-size: 1.3rem;
    }
    .loginBox label {
        font-size: 0.9rem;
    }
}


/* /////////////////////////////////////////////////////////////////////////// */