<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unsubscribe</title>
</head>
<body>
    <H2>Newsletter Unsubscribe</H2>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% else %}
            <form class="input-group"  method="POST" action="{% url 'unsubscribe' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="email" type="email" class="form-control" placeholder="email">
                </div>
                <button class="btn btn-primary btn-sm mt-2">SUBSCRIBE</button>
            </form>
        {% endif %}
    </div>
</body>
</html>

